<form id="change_avatar_stream_modal">
    <p>Выберите новое фото для канала:</p>
    <input type="file" id="upload-avatar" accept="image/*">
    <div id="avatar-preview-container" style="margin-top: 4px;">
        <img id="avatar-preview" src="" alt="Предпросмотр аватарки" style="display: none; max-width: 90%; height: auto;">
    </div>
    <button id="delete-avatar" class="button small rounded button-danger" style="margin-top: 16px;">Удалить фото канала</button>
</form>
