<label for="new-topic-name">{{t "Введите имя новой темы"}}</label>
<input type="text" name="new-topic-name" id="new-topic-name" class="settings_text_input"
       placeholder="Название темы" value="" autocomplete="off" maxlength="60" required />
